body,
html {
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    background: url(landing-page-group.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    font-size: 3rem;
    color: cadetblue;
    /* text-shadow: -1px 0 cadetblue, 0 1px cadetblue, 1px 0 cadetblue, 0 -1px cadetblue;} */
}

hr {
    border-color: cadetblue;
    border-width: 3px;
    max-width: 65px;
}

.buffer{
    height: 1rem;
}

.btn {
    font-weight: 200;
    border-radius: 300px;
}

.btn-primary {
    background-color: cadetblue;
    border-color: cadetblue;
}

.btn-primary:hover {
    background-color: lightslategrey;
    border-color: lightslategrey;
    border-width: 4px;
}

.btn-xl {
    padding: 1rem 2rem;
}